<nav class="navbar sticky-top navbar-expand-sm navbar-dark navBar">
    <div class="container-fluid ">
        <a class="navbar-brand" href="/" id="heading" active>Bookworm</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"  aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse pl-4" id="navbarSupportedContent">
            <div class="navbar-nav ms-auto">
                <form action="/bookworm" id="searchForm" method="post">
                    <div class='bookSearch'>
                        <input type="text" id="search" name="search" class="search" placeholder="Search Books">
                        <button type="submit" id="submit" class="submitBtn">Search!</button>
                    </div>
                </form>
            </div>
            <div class="navbar-nav ms-auto">  
                <a class="nav-link"  href="/bookworm/myFavourites">My Favourites</a>  
                <% if(!currentUser){%>              
                    <a class="nav-link"  href="/bookworm/register">Sign Up</a>              
                    <a class="nav-link"  href="/bookworm/login">Log In</a>
                <% }else{ %>                   
                    <a class="nav-link"  href="/bookworm/logout">Log Out</a>
                <% } %>
            </div>
        </div>
    </div>
</nav>
