<% if( success && success.length) {%>
  <div class="alert alert-warning alert-dismissible fade show flash" style="    background-color: rgb(138 232 118); color: rgb(35 161 0);" role="alert">
        <%= success %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        </button>
      </div>
<% } %>

<% if( error && error.length) {%>
  <div class="alert alert-warning alert-dismissible fade show flash" style="background-color:rgb(255, 87, 87); color:rgb(146, 0, 0);" role="alert">
      <%= error %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
      </button>
    </div>
<% } %>


